<html>
  <head>
    <title>{{ title|e }} by ThingDoc</title>
    <link rel="stylesheet" type="text/css" href="html_data/thingdoc.css" />
   	<link rel="stylesheet" type="text/css" href="html_data/facebox.css" />
   	<link media="only screen and (max-device-width: 800px)" href="html_data/iphone.css" type="text/css" rel="stylesheet" />
   	<meta name = "viewport" content = "width = device-width, initial-scale = 1.0,minimum-scale=1.0,
        maximum-scale=1.0, user-scalable = no">
   	<meta name="apple-mobile-web-app-capable" content="yes" />
   	<script type="text/javascript" src="html_data/jquery.js"></script>
   	<script type="text/javascript" src="html_data/facebox.js"></script>
   	<script type="text/javascript" src="html_data/jquery.cookie.js"></script>
   	<script type="text/javascript" src="html_data/thingdoc.js"></script>
   	<script>var unique = "{{ unique|e }}";
   	</script>
  </head>
  <body>

    <div id="menu">
    
    <span id="genericmenu">
    	<a href="#" id="homebutton" class="button gray">Home</a>
    	<a href="#" id="bombutton" class="button">BOM</a>
    	<a href="#" id="thingsbutton" class="button white">Things</a>
    </span>
    <a href="#" id="assemblybutton" class="button white">Assembly</a>
    <span id="assemblymenu">
    	<a href="#" id="decreaseAssembly" class="button white">&lt;</a>
    		<span id="assemblyActual">0</span>/<span id="assemblyCount">0</span>
    	<a href="#" id="increaseAssembly" class="button white">&gt;</a>
    </span>
	<a href="http://thingdoc.org/"><img src="html_data/logo120.png" id="logo"/></a>
	</div>


    
    <div id="main"><div id="scroller">

    <div id="home">
		<h1>{{ title|e }}</h1>
		{%- if titleimg -%}
		      <img src="{{ imagedir|e }}/{{ titleimg|e }}" width="512" />
		{%- else %}
		      <img src="html_data/logo.png" id="logoBig" width="435" />
		{%- endif %}
		{%- if titledesc %}
		      <p>{{ titledesc|join(' ')|e }}</p>
		{%- endif %}
    </div>

    <div id="bom">
		<h2>Bill of Materials</h2>
		<p>Check all parts to get green <a href="#bom" class="button green smallbutton">BOM</a> button in menu, then proceed to the assembly.</p><p>Don't worry, the status of your BOM remains even after refreshing the page!</p>
		{% for category in bom %}
			<h3>{{ category|e }}</h3>
			<table id="bomtable">
			{%- for id, cnt in bom[category].iteritems() %}
				<tr>
					<td>
						<input type="checkbox" class="bom_checkbox" name="{{ id|e }}">
					</td>
					<td class="right">
						<strong>{{ cnt|e }} x</strong>
					</td>
					<td>
						<a href="#thing_{{ id|e }}" rel="facebox" >{{ tree[id].name|e }}</a>
					</td>
				</tr>
			{% endfor %}
			</table>
		{% endfor %}
    </div>

	<div id="things">
		<h2>Things Overview</h2>
		<p>List of things and their descriptions</p>
		{% for thing in tree.itervalues() %}
			<div id="thing_{{ thing.id|e }}" class="thing_overview" >
				{%- if thing.id != 1 %}
					<h3>{{ thing.name|e }}</h3>
					<div class="stuff">
						{%- if thing.desc %}
						        <p>{{ thing.desc|join(' ')|e }}</p>
						{%- endif %}
						{%- if thing.image %}
						        <img src="{{ imagedir|e }}/{{ thing.image|e }}" width="256" />
						{%- endif %}
					</div>
				{% endif -%}
			</div>
		{% endfor %}
	</div>

	<div id="assembly">
		<h2>Assembly Instructions</h2>
		{% for i in instr %}
			<div class="subassembly">
				<h3>Assemble {{ tree[i[0]].name|e }}</h3>
				<div class="stuff">
					{%- if tree[i[0]].using %}
						<p>Things needed:</p>
						<table id="bomtable">
						{%- for id, cnt in tree[i[0]].using.iteritems() %}
							<tr>
								<td class="right">
									<strong>{{ cnt|e }} x</strong>
								</td>
								<td>
									<a href="#thing_{{ id|e }}" rel="facebox" >{{ tree[id].name|e }}</a>
								</td>
							</tr>
						{%- endfor %}
						</table>
					{% endif %}
					<p>Steps:</p>
					<ol>
					{%- for j in i[1:] %}
						{%- if j.img %}
							<li>{{ j.text|e }}<br/>
								<a href="{{ imagedir|e }}/{{ j.img|e }}" rel="facebox">
									<img src="{{ imagedir|e }}/{{ j.img|e }}" width="256" />
								</a>
							</li>
						{%- else %}
							<li>
								{{ j.text|e }}
							</li>
						{%- endif %}
					{%- endfor %}
					</ol>
				</div>
			</div>
		{% endfor %}
	</div>

<div class="generated">Generated by ThingDOC</span>
    </div>
    </div>
  </body>
</html>
<!-- Generated on {{ start|e }} by ThingDoc -->
